@mixin responsive-property-value($property, $value) {
    &-desktop {
        @include desktop {
            #{$property}: $value !important;
        }
    }

    &-touch {
        @include touch {
            #{$property}: $value !important;
        }
    }

    &-tablet {
        @include tablet-only {
            #{$property}: $value !important;
        }
    }

    &-phone {
        @include phone {
            #{$property}: $value !important;
        }
    }
}

@mixin object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
