html {
	font-size: 10px;
	line-height: 1.15;
}

body {
	width: 100%;
	background: color('black');
	color: color('white');
	font-family: $font-primary, Arial, Helvetica, sans-serif;
	@supports (font-variation-settings: normal) {
		font-family: $font-primary-var;
	}
    
	font-size: 1.6rem;
    line-height: 2.4rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	margin: 0;
}

body,
main {
	min-height: vh(100);
}

main {
	z-index: zindex(section);
}