* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.1rem solid transparent;

    @include desktop {
        &:hover {
            border-color: color('white');
        }
    }

}

span {
    line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
}

video {
    max-width: 100%;
    height: auto;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

button {
    padding: 0;
    border: 0;
    appearance: none;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
}

b,
strong {
    font-weight: weight('bold');
}

picture,
img {
    display: block;
    min-height: 1px;
    width: 100%;
    height: auto;
}

a, button {
    cursor: pointer;
}