.is-justified {
    justify-content: space-between;

    &-x {
        justify-content: space-between;
    }
}

.is-space-between {
    justify-content: space-between;
}

.is-baseline {
    align-items: baseline;
}

.is-center {
    align-items: center;
    justify-content: center;

    &-y {
        align-items: center;
    }

    &-x {
        justify-content: center;
    }
}

.is-left {
    justify-content: flex-start;

    &-y {
        align-items: flex-start;
    }
}

.is-right {
    &-x {
        justify-content: flex-end;
    }

    &-y {
        align-items: flex-end;
    }
}

.is-wrap {
    flex-wrap: wrap;
}
